{% layout none %}
<!DOCTYPE html>
<html>

<head>
	<!-- CSS -->

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}
	<title>{{ 'coming_soon.general.title' | t }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  {{ content_for_header }}

</head>

<body>

  <div class="background-overlay">

    {{ content_for_layout }}

  </div>

{{ 'jquery-3.3.1.min.js' | asset_url | script_tag }}

<script type="text/javascript">
function onload() {
	document.getElementById('password').focus();
	window.wetheme.$( "#password-show" ).click(function() {
	  window.wetheme.$( "#site-header" ).slideToggle( "slow");
	});
	window.wetheme.$( ".password--close a" ).click(function() {
	  window.wetheme.$( "#site-header" ).slideToggle( "slow");
	});
	window.wetheme.$(function() {
	  if ( window.wetheme.$('.storefront-password-form .errors').length ) {
	    window.wetheme.$( "#site-header" ).slideToggle( "slow");
	  }
	});
}
document.addEventListener('shopify:section:load', onload);
window.wetheme.$(document).ready(onload);
</script>

</body>
</html>
